/*your custom CSS here*/
.heading{
  background-image: url(../img/heading.jpg);
  height: 400px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center top;
}

body{
  background-image: url(../img/metal.jpg);
 
}

