/*your custom CSS here*/
.heading{
  background-image: url(../img/heading.jpg);
  height: 400px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center top;
  font-family: Arial, Verdana, sans-seriff;
  font-size: 200%;
  color: white;
  text-align: center;
}

body{
  background-image: url(../img/metal.jpg);
 
}

img{
  width: 100%;
}

.box{
  padding: 10px 10px;
}

body{
  padding-top: 50px;
}
